.textfield {
  margin-top: 5px;
  input {
    height: 15px;
  }
  fieldset {
    border: 2px solid #efefef !important;
  }
}

.form__item {
  width: 100%;
  margin-bottom: 20px;

  .form__label {
    font-size: 16px;
    margin-bottom: 5px !important;
    color: #000;
  }
}

.form__label {
  font-size: 16px;
  padding-bottom: 10px !important;
  color: #000;
}

.hide-show {
  cursor: pointer;
  width: 25px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 8px;
}